* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(255, 255, 255);
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 2.5em;

}

.btn:hover {
  background-color: rgb(21, 93, 247);
  color: white;
}

.active {
    background-color: rgb(21, 93, 247);
    color: white;
}

input {
  visibility: hidden;
  height: 40px;
  font-size: 1.1em;
  font-weight: 100;
}

#search-btn {
  visibility: hidden;
  cursor: pointer;
  height: 40px;
  font-size: 1.1em;
  background-color: white;
  margin-bottom: 2.5em;
}

#search-btn:hover {
  background-color: rgb(21, 93, 247);
  color: white;
}

.gifs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 70px;
}

.gif-element {
  width: auto;
  height: 200px;
  margin: 30px 0 0 20px;
  border: 1px solid black;
}